h1{
    color:blue;
}
.box {
            background-color: yellow;
            height: 200px;
            width: 200px;
            float: left;
            margin: 20px;
            border-radius: 50%;
        }

        .d {
            background-image:
            repeating-conic-gradient(red 0deg, red 10deg, yellow 10deg, yellow 20deg);
        }

        input[type="text"]{
            border: 2px solid black;
        }
        